<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name= "mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.rick.db.mybatis.model"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.rick.db.mybatis.type.EnabledTypeHandler" javaType="com.rick.db.mybatis.type.Enabled"/>
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3307/mybatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/mapper/CountryMapper.xml"/>
        <mapper resource="mybatis/mapper/SysPrivilegeMapper.xml"/>
        <mapper resource="mybatis/mapper/SysRoleMapper.xml"/>
        <mapper resource="mybatis/mapper/SysRolePrivilegeMapper.xml"/>
        <mapper resource="mybatis/mapper/SysUserMapper.xml"/>
        <mapper resource="mybatis/mapper/SysUserRoleMapper.xml"/>
    </mappers>
</configuration>
